@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.logo {
  font-family: 'Knewave', cursive;
  font-size: 35px;
  color: #1058c4;
  letter-spacing: 3px;
}

.fancy-title {
  font-family: 'Knewave', cursive;
  font-size: 100px;
}

.signin-layout {
  background-color: $primary-color;
}


.hrello-topbar {
  background-color: $secondary-color;
}

.hrello-user {
  font-size: 15px;
  margin-bottom: 0px!important;
  text-align:right;
}

.hrello-board-tile {
  margin: 20px 20px 0px 0px ;
  .v-card__subtitle {
    font-size: 8px;
  }
}
